K8Cluster:
        hosts:
                K8master:
                        ansible_host:  52.33.172.239
                        internal_ip: 172.31.13.253
                        sudoers:
                                - kdmarti2
                                - ubuntu
                                - sashaikh
                                - vabongal
                        users:
                                - kdmarti2
                                - ubuntu
                                - sashaikh
                                - vabongal
                        disabled_accounts:
        children:
                K8nodes:
                        hosts:
                                K8node1:
                                        ansible_host:  34.208.87.93
                                        internal_ip: 172.31.8.99
                        vars:
                                sudoers:
                                        - kdmarti2
                                        - ubuntu
                                        - sashaikh
                                        - vabongal
                                users:
                                        - kdmarti2
                                        - ubuntu
                                        - sashaikh
                                        - vabongal
                                disabled_accounts:
        vars:
                ansible_connection: ssh
                ansible_user: ubuntu
                ansible_ssh_private_key_file: /home/kdmarti2/.ssh/labkey

prometheus:
        hosts:
                prometheus-server:
                        ansible_host:  54.203.110.192
                        internal_ip: 172.31.8.97
                        sudoers:
                                - kdmarti2
                                - ubuntu
                                - sashaikh
                                - vabongal
                        users:
                                - kdmarti2
                                - ubuntu
                                - sashaikh
                                - vabongal
                        disabled_accounts:
        vars:
                ansible_connection: ssh
                ansible_user: ubuntu
                ansible_ssh_private_key_file: /home/kdmarti2/.ssh/labkey